@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* From Uiverse.io by SchawnnahJ */ 
/* .loaderq {
 position: relative;
 width: 2.5em;
 height: 2.5em;
 transform: rotate(165deg);
}

.loaderq:before, .loaderq:after {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 display: block;
 width: 0.5em;
 height: 0.5em;
 border-radius: 0.25em;
 transform: translate(-50%, -50%);
}

.loaderq:before {
 animation: before8 2s infinite;
}

.loaderq:after {
 animation: after6 2s infinite;
}

@keyframes before8 {
 0% {
  width: 0.5em;
  box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(225, 20, 98, 0.75);
 }

 35% {
  width: 2.5em;
  box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(225, 20, 98, 0.75);
 }

 70% {
  width: 0.5em;
  box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(225, 20, 98, 0.75);
 }

 100% {
  box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(225, 20, 98, 0.75);
 }
}

@keyframes after6 {
 0% {
  height: 0.5em;
  box-shadow: 0.5em 1em rgba(128, 128, 128, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }

 35% {
  height: 2.5em;
  box-shadow: 0.5em 0 rgba(128, 128, 128, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
 }

 70% {
  height: 0.5em;
  box-shadow: 0.5em -1em rgba(128, 128, 128, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
 }

 100% {
  box-shadow: 0.5em 1em rgba(128, 128, 128, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
}

.loaderq {
 position: absolute;
 top: calc(50% - 1.25em);
 left: calc(50% - 1.25em);
} */
/* .loaderq {
 position: absolute;
 top: calc(50% - 1.25em);
 left: calc(50% - 1.25em);
} */



/* HTML: <div class="loader"></div> */
.loaderq {
  width: 32px;
  height: 16px;
  display: flex;
  animation: l9-0 1s infinite;
}
.loaderq:before,
.loaderq:after {
  content: "";
  flex: 1;
  background: #8a8a8a;
  transform-origin: top right;
  animation: l9-1 1s infinite;
}
.loaderq:after {
  background: #FF3D7F;
  transform-origin: top left;
  --s:-1;
}
@keyframes l9-0 {
   100% {transform: translateY(100%)}
}
@keyframes l9-1 {
   100% {transform: rotate(calc(var(--s,1)*90deg))}
}